body {
  background-color:ivory;
  color:DarkSlateGrey;
}
h1 {
  font-size:70px;
  text-align:center;
}
ul {
  overflow:hidden;
  background-color:moccasin;
  list-style-type:none;
  padding:0px;
}
li a {
  float:left;
  padding:15px;
  color:black;
  text-decoration:none;
}
li a:hover {
  background-color:tan;
}
.sideIcon {
  float:right;
  padding:0px;
}
p {
  font-size:25px;
  text-align:center;
}
#gallery {
   line-height:0;
   -webkit-column-count:5; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap:5px;
}
#gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
}