#welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171003;
    color: tan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 1s ease-out;
}

#welcome-screen.fade {
  opacity: 0;
}

body {
  background-color:ivory;
  color:DarkSlateGrey;
  padding:30px;
  font-size:14px;
}
h1 {
  font-size:45px;
  text-align:center;
}
h2 {
  font-size:20px;
  text-align:center;
}
p {
  font-size:17px;
}
#contacts {
  font-size:20px
}
#contacts li a {
  text-decoration:underline;
  color:tan
}
#nav-bar {
  overflow:hidden;
  display:flex;
  justify-content:center;
  background-color:moccasin;
  list-style-type:none;
}
.skill-container {
  display:flex;
  justify-content:space-around;
}
.skill-box {
  background-color:moccasin;
  padding: 15px;
  margin: 10px;
  flex: 1; /* Make the boxes flex to fit the container */
  border-radius: 10px;
}
.skill-box a {
  color:DarkSlateGrey;
  text-decoration:none;
  background-color:tan;
  padding:10px;
}
#nav-bar li a {
  float:left;
  padding:12px;
  text-decoration:none;
  color:DarkSlateGrey;
}
#nav-bar li a:hover {
  background-color:tan;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.project {
  background-color:tan;
  padding:20px;
  border-radius:8px;
  width:330px;
}

.project img {
  max-width: 100%; 
}

.project ul {
  font-size:17px;
}
/*Learned from Medium Website*/
#gallery {
   line-height:0;
   -webkit-column-count:5; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap:5px;
}
#gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
}